{% extends 'main/main_layout.html' %}

{% load static %}

{% block title %}
    {{master.user.first_name}} {{master.user.last_name}}
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'masters/css/master_info.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row justify-content-center master-details">
        <div class="col-md-8">
          <img src="{{ product.image.url }}" alt="Master Photo" class="img-fluid rounded master-photo">
          <h2 class="mt-3 text-white">{{ product.name }}</h2>

          <p class="text-white">{{ product.description|linebreaksbr }}</p>


        </div>
      </div>
        <div class="row">
            <div class="col-12">
                <a href="{%url 'booking' %}" class="btn btn-lg text-uppercase centered">Get master</a>
            </div>
        </div>
    </div>

{% endblock %}