body {
    font-family: helvetica, sans-serif;
}

h1 {
	font-size: 400%;
}

header, section, footer {
	padding: 100px 0;
}

.header-logo {
    max-width: 20vh;
    max-height: 20vh;
}

header {
	background-image: url("/static/main/img/main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	min-height: 100vh;
}

.header-logo {
    max-width: 20vh;
    max-height: 20vh;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

ul a {
	color: whitesmoke;
	text-decoration: none;
}

ul a:hover {
    color: whitesmoke;
	border-bottom: 3px solid grey;
}

.main-header {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 6vw; /* Используем viewport width для адаптивного размера */
    white-space: nowrap; /* Предотвращаем перенос текста */
}

.pros {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.pros-img {
    max-width: 15vw;
    max-height: 15vw;
    border-radius: 50%;
}

.pros h2 {
    margin-bottom: 20px;
}

.pros p {
    font-size: 1.2em; /* Увеличиваем размер шрифта параграфа */
    margin-bottom: 20px;
}

.pros-btn {
    display: block;
    max-width: 200px;
    margin: 30px auto; /* Добавляем отступ сверху */
    padding: 8px 30px;
    color: black;
}

.first_section, .second_section, .third_section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
}

.first_section, .second_section, .third_section h1 {
    color: white;
}

.first_section {
    background-image: url("/static/main/img/test1.jpg");
}

.second_section {
    background-image: url("/static/main/img/test2.jpg");
}

.third_section {
    background-image: url("/static/main/img/haircut.jpg");
}

.white-section {
	min-height: 100vh;
	background-color: white;
}

.white-section {
    min-height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
}

.master-img, .product-img {
    max-width: 15vw;
    max-height: 15vw;
    border-radius: 50%;
}

.white-section h2 {
    font-size: 2.5em; /* Увеличиваем размер шрифта заголовка */
    margin-bottom: 20px;
}

.white-section p {
    font-size: 1.2em; /* Увеличиваем размер шрифта параграфа */
    margin-bottom: 20px;
}

.link-btn {
    display: block;
    max-width: 200px;
    margin: 30px auto; /* Добавляем отступ сверху */
    padding: 8px 30px;
    background-color: black;
    color: white;
}
