:root {
	--color1: #05b1b1;
	--color2: #52339a;
}

h1 {
	font-size: 400%;
}

header, section, footer {
	padding: 100px 0;
}

.header-logo {
    max-width: 20vh;
    max-height: 20vh;
}

header {
	background-image: url("/static/main/img/main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	min-height: 100vh;
}

.header-logo {
    max-width: 20vh;
    max-height: 20vh;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

ul a {
	color: whitesmoke;
	text-decoration: none;
}

ul a:hover {
    color: whitesmoke;
	border-bottom: 3px solid grey;
}

.main-header {
	color: white;
	position: absolute; /* or absolute */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pros-img {
	max-width: 15vw;
  	max-height: 15vw;
	border-radius: 50%;
}

.pros-btn {
	display: block;
	max-width: 200px;
	margin: 0 auto;
	padding: 8px 30px;
	color: white;
	background-color: var(--color2);
}

.pros-btn:hover {
	color: white;
	background-color: var(--color1);
}

.about {
	padding: 15px;
}

.about-img {
	width: 25vw;
  	height: 25vw;
}

