{% extends 'main/layout.html' %}

{% load static %}

{% block title %}
    Мастера
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'masters/css/style.css' %}">
{% endblock %}

{% block content %}

    <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Masters</h1>
        <p class="lead text-muted">List of all masters</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
          {% for master in all_masters %}
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{master.first_name}} {{master.second_name}}</text></svg>

            <div class="card-body">
              <p class="card-text">{{master.short_description}}</p>
              <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">{{master.category_id}}</small>
              </div>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}