{% extends 'main/main_layout.html' %}

{% load static %}

{% block title %}
    {{ master.user.first_name }} {{ master.user.last_name }}
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'masters/css/master_info.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center master-details">
            <div class="col-md-8 space-top">
                <div class="master-photo-container mb-3">
                    <img src="{{ master.photo.url }}" alt="Master Photo" class="img-fluid rounded master-photo">
                </div>
                <h2 class="mt-3 text-white text-center">{{ master.user.first_name }} {{ master.user.last_name }}</h2>
                <p class="text-white text-left">{{ master.full_description|linebreaksbr }}</p>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <h3 class="text-white">Услуги:</h3>
                <div class="row">
                    {% for service in services %}
                        <div class="col-md-6 mb-3">
                            <div class="card service-card h-100">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ service.title }}</h5>
                                    <p class="card-text">Длительность: {{ service.duration }}</p>
                                    <p class="card-text">Стоимость: {{ service.cost }} руб.</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-4 text-center mb-5">
                <a href="{% url 'booking' %}" class="btn btn-lg btn-primary">Записаться к мастеру</a>
            </div>
        </div>
    </div>
{% endblock %}
