{% extends 'main/layout.html' %}

{% load static %}

{% block title %}
    {{master.first_name}} {{master.second_name}}
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'masters/css/master_info.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
      <div class="row justify-content-center master-details">
        <div class="col-md-8">
          <!-- Master's Photo -->
          <img src="{{ master.photo.url }}" alt="Master Photo" class="img-fluid rounded master-photo">

          <!-- Master's Name and Surname -->
          <h2 class="mt-3">{{ master.first_name }} {{ master.second_name }}</h2>

          <!-- Work Description -->
          <p class="lead">Experienced stylist with a passion for creating beautiful hairstyles. Specialized in the latest trends and techniques. Committed to providing excellent service and ensuring client satisfaction.</p>

          <!-- List of Services -->
          <h3>Services:</h3>
          <ul>
            <li>Haircut and Styling</li>
            <li>Hair Coloring</li>
            <li>Extensions</li>
            <li>Special Occasion Styling</li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}