{% extends 'main/layout.html' %}

{% load static %}

{% block title %}
    Мастера
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'masters/css/style.css' %}">
{% endblock %}

{% block content %}
    <section id="masters">
        {% for master in all_masters %}
            <div class="master-card">
                <img src="{{master.photo.url}}" alt="{{master.first_name}}}">
                <h2>{{master.first_name}} {{master.second_name}}</h2>
                <p>{{master.short_description}}</p>
            </div>
        {% endfor %}
    </section>
{% endblock %}