{% extends 'main/main_layout.html' %}

{% load static %}


{% block title %} Services {% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'masters/css/style.css' %}">
{% endblock %}


{% block content %}


<section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light text-white">Услуги салона Континенталь</h1>
                <p class="lead text-white">В нашем салоне оказывают лучшие услуги</p>
            </div>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for category in all_categories %}
                    <div class="col">
                        <a href="{% url 'category_info' category.slug %}" class="card-link">
                            <div class="card shadow-sm">
                                <img
                                        src="{{category.photo.url}}"
                                        alt="{{category.title}}"
                                        class="bd-placeholder-img card-img-top master-image"
                                />

                                <div class="card-body">
                                  <p class="card-text">{{category.title}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}