{% extends 'main/main_layout.html' %}

{% load static %}

{% block title %}{{ category.title }}{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'services/css/category_info.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row space-top">
            <div class="col">
                <h1 class="display-4 text-white text-center">{{ category.title }}</h1>
                <p class="lead text-white">{{ category.description|linebreaksbr }}</p>
                <p class="text-white text-center">Выберите услугу из списка ниже</p>
            </div>
        </div>
        <div class="row mb-5">
            {% for service in all_services %}
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card service-card h-100">
                        <div class="card-body d-flex flex-column" onclick="window.location.href='{% url 'booking' %}'">
                            <h5 class="card-title">{{ service.title }}</h5>
                            <p class="card-text">Длительность: {{ service.duration }}</p>
                            <p class="card-text">Цена: {{ service.cost }} руб.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
