{% extends 'main/layout.html' %}

{% load static %}


{% block title %} title {% endblock %}

{% block content %}
    <section id="masters">
        {% for service in all_services %}
            <div class="master-card">
                <!--<img src="{{master.photo.url}}" alt="{{master.first_name}}}"> -->
                <h2>{{service.title}}</h2>
                <p>{{service.description}}</p>
                <p>{{service.cost}}</p>
            </div>
        {% endfor %}
    </section>
{% endblock %}