.card-link {
    text-decoration: none;
    transition: transform 0.2s;
}

.space-top {
    margin-top: -5rem !important;
}

.card-link:hover .card {
    transform: scale(1.05);
}

.master-image {
    width: 100%; /* Ensure the image takes up the full width of the card */
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-body .flex-grow-1 {
    flex-grow: 1;
}
