.card-link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s;
}

.card-link:hover .card {
    transform: scale(1.05);
}

.card-link:hover .master-name {
    display: block;
}

.master-image {
    width: 100%; /* Ensure the image takes up the full width of the card */
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}