section {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.master-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    max-width: 300px;
    transition: transform 0.3s;
}

.master-card:hover {
    transform: scale(1.05);
}

.master-card img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}