<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новая заявка на бронирование</title>
</head>
<body>
    <p>Здравствуйте, {{ master.first_name }}!</p>
    <p>Вы получили новую заявку на бронирование:</p>
    <ul>
        <li>Клиент: {{ user.first_name }} {{ user.last_name }}</li>
        <li>Дата и время начала: {{ appointment.start_datetime }}</li>
        <li>Дата и время окончания: {{ appointment.end_datetime }}</li>
        <li>Сумма: {{ appointment.total_sum }} руб.</li>
        <li>Комментарий: {{ appointment.comment }}</li>
    </ul>
    <p>Пожалуйста, зайдите в аккаунт для получения деталей и подтверждения или отклонения заявки.</p>
</body>
</html>
