{% extends 'main/main_layout.html' %}
{% load static %}

{% block title %}
    Запись на прием
{% endblock %}

{% block css_link %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% endblock %}

{% block content %}

{% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
{% endif %}


<div class="container">
    <div class="row gx-5">
        <div class="col-md-8">
            <h2 class="text-white">Запись на прием</h2>
            <form method="post" id="appointmentForm">
                {% csrf_token %}
                <div class="form-group">
                    <label class="text-white">Мастер</label>
                    {{ form.master }}
                </div>
                <div class="form-group">
                    <label class="text-white">Услуга</label>
                    {{ form.service }}
                </div>
                <div class="form-group">
                    <label class="text-white">Дата и время</label>
                    {{ form.datetime }}
                </div>
                 <div class="form-group">
                    <label class="text-white">Комментарий</label>
                    {{ form.comment}}
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-primary" value="Записаться">
                </div>
            </form>
        </div>

        <div class="col-md-4 text-center">
            <h4 class="text-white">Принятые заявки:</h4>
            <div class="input-group date">
                <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Услуга</th>
                        <th>Время</th>
                        <th>Длительность</th>
                    </tr>
                </thead>
                <tbody id="appointments-list">
                    <!-- Здесь будет отображаться список заявок -->
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block js_link %}
    <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>
    <script src="{% static 'main/js/booking_schedule.js' %}"></script>
    <script src="{% static 'main/js/booking.js' %}"></script>
{% endblock %}