{% extends 'main/main_layout.html' %}
{% load static %}

{% block title %}
    Запись на прием
{% endblock %}

{% block css_link %}
    <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="{% static 'main/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

{% if messages %}
    {% if messages %}
          {% for message in messages %}
            {% if message.tags == 'error' %}
              <div class="alert alert-danger" role="alert">
                {{ message|escape }}
              </div>
            {% elif message.tags == 'success' %}
              <div class="alert alert-success" role="alert">
                {{ message|escape }}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
{% endif %}


<div class="container">
    <div class="row gx-5">
        <div class="col-md-8">
            <h2 class="text-white">Запись на прием</h2>
            <form method="post" id="appointmentForm">
                {% csrf_token %}
                <div class="form-group">
                    <label class="text-white">Мастер</label>
                    {{ form.master }}
                </div>
                <div class="form-group">
                    <label class="text-white">Услуга</label>
                    {{ form.services }}
                </div>
                <div class="form-group">
                    <label class="text-white">Дата и время</label>
                    {{ form.start_datetime }}
                </div>
                <div class="form-group">
                    <label class="text-white">Комментарий</label>
                    {{ form.comment }}
                </div>
                <div class="form-group">
                    <p class="text-white" id="booking_info">Стоимость: 0 руб. Длительность: 0 мин.</p>
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-primary" value="Записаться">
                </div>
            </form>
        </div>

        <div class="col-md-4 text-center">
            <h4 class="text-white">Принятые заявки:</h4>
            <div class="input-group date">
                <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Время начала</th>
                        <th>Время окончания</th>
                    </tr>
                </thead>
                <tbody id="appointments-list">
                    <!-- Здесь будет отображаться список заявок -->
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block js_link %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>
    <script src="{% static 'main/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap-datetimepicker.ru.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'main/js/booking_schedule.js' %}"></script>
    <script src="{% static 'main/js/booking.js' %}"></script>
{% endblock %}