{% extends 'main/main_layout.html' %}

{% load static %}

{% block title %}
    Корзина
{% endblock %}

{% block css_link %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% endblock %}

{% block content %}

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">
            {{ message|escape }}
          </div>
        {% elif message.tags == 'success' %}
          <div class="alert alert-success" role="alert">
            {{ message|escape }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <div class="container mt-5">
        <h2 class="text-white mb-4">Ваша корзина</h2>
        <div class="table-responsive">
            <table class="table table-dark table-bordered table-hover text-center align-middle">
                <thead class="align-middle">
                    <tr>
                        <th scope="col" class="text-left">Товар</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Всего на складе</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Действие</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item, price in cart_items %}
                    <tr id="row_{{ item.pk }}">
                        <td>{{ item.product }}</td>
                        <td>{{ price }}</td>
                        <td>
                            <span id="amount_{{ item.product.pk }}">{{ item.product.quantity }}</span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button class="btn btn-outline-secondary btn-sm" type="button" onclick="decreaseQuantity({{ item.product.pk }})">-</button>
                                <span class="mx-2" id="quantity_{{ item.product.pk }}">{{ item.quantity }}</span>
                                <button class="btn btn-outline-secondary btn-sm" type="button" onclick="increaseQuantity({{ item.product.pk }})">+</button>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" onclick="removeFromCart('{{ item.product.pk }}')">
                                <i class="fa fa-trash"></i> Удалить
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p class="text-white" id="total_price">Итого: {{ total }}</p>
        <button class="btn btn-primary mb-5" onclick="reserveCart()">Забронировать</button>
    </div>
{% endblock %}

{% block js_link %}
    <script src="{% static 'main/js/cart.js' %}"></script>
{% endblock %}
