{% extends 'main/main_layout.html' %}

{% load static %}

{% block title %}
    Смена пароля
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-12">
                <h2 class="text-white">Измените свои данные</h2>
                <form method="post">
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for field, errors in form.errors.items %}
                                {{ errors }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="text-white">Старый пароль</label>
                        {{form.old_password}}
                    </div>
                    <div class="form-group">
                        <label class="text-white">Новый пароль</label>
                        {{form.new_password}}
                    </div>
                    <div class="form-group">
                        <label class="text-white">Повторите пароль</label>
                        {{form.repeat_new_password}}
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" name="submit" class="btn btn-primary" value="Сохранить">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
