{% extends 'main/layout.html' %}

{% load static %}

{% block title %}
    Версаль
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block content %}
    <section id="home">
        <div class="about">
            <h1>Добро пожаловать в Версаль</h1>
            <p>Ваш лучший выбор для красоты и релаксации</p>
        </div>
        <div class="image-grid">
            <div class="image-container">
                <a href="{%url 'services_list' %}">
                    <img src="{% static 'main/img/haircut.jpg' %}" alt="Service 1">
                    <div class="overlay">
                        <div class="caption">Стрижка</div>
                    </div>
                </a>
            </div>
            <div class="image-container">
                <a href="{%url 'services_list' %}">
                    <img src="{% static 'main/img/manicure.jpg' %}" alt="Service 1">
                    <div class="overlay">
                        <div class="caption">Маникюр</div>
                    </div>
                </a>
            </div>
            <div class="image-container">
                <a href="{%url 'services_list' %}">
                    <img src="{% static 'main/img/massage.jpg' %}" alt="Service 1">
                    <div class="overlay">
                        <div class="caption">Массаж</div>
                    </div>
                </a>
            </div>
            <div class="image-container">
                <a href="{%url 'services_list' %}">
                    <img src="{% static 'main/img/tinting.jpg' %}" alt="Service 1">
                    <div class="overlay">
                        <div class="caption">Брови</div>
                    </div>
                </a>
            </div>
            <div class="image-container">
                <a href="{%url 'services_list' %}">
                    <img src="{% static 'main/img/care.jpg' %}" alt="Service 1">
                    <div class="overlay">
                        <div class="caption">Эпиляция</div>
                    </div>
                </a>
            </div>
            <div class="image-container">
                <a href="{%url 'services_list' %}">
                    <img src="{% static 'main/img/reservation.jpg' %}" alt="Service 1">
                    <div class="overlay">
                        <div class="caption">Бронь</div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section id="about">
        <p>Погрузитесь в мир красоты и релаксации в нашем изысканном салоне. Наша команда квалифицированных
            специалистов стремится подчеркнуть вашу естественную красоту и оживить ваш дух.</p>
        <p>Ощутите широкий спектр роскошных услуг и откройте для себя идеальное сочетание спокойствия и преображения.
            Добро пожаловать в наше святилище красоты и благополучия.</p>
    </section>

{% endblock %}

