{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Salon</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'main/img/logo.png' %}" alt="Salon Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#home">Главная</a></li>
                <li><a href="{%url 'masters_list' %}">Мастера</a></li>
                <li><a href="{%url 'services_list' %}">Услуги</a></li>
                <li><a href="#products">Продукция</a></li>
                <li><a href="#about">О нас</a></li>
                <li><a href="#cabinet">Личный кабинет</a></li>
            </ul>
        </nav>
    </header>

    <section id="home">
        <div class="about">
            <h1>Добро пожаловать в Версаль</h1>
            <p>Ваш лучший выбор для красоты и релаксации</p>
        </div>
        <div class="image-grid">
            <div class="image-container">
                <a href="#services">
                    <img src="{% static 'main/img/haircut.jpg' %}" alt="Service 1">
                    <div class="overlay">
                        <div class="caption">Стрижка</div>
                    </div>
                </a>
            </div>
            <div class="image-container">
                <a href="#services">
                    <img src="{% static 'main/img/manicure.jpg' %}" alt="Service 1">
                    <div class="overlay">
                        <div class="caption">Маникюр</div>
                    </div>
                </a>
            </div>
            <div class="image-container">
                <a href="#services">
                    <img src="{% static 'main/img/massage.jpg' %}" alt="Service 1">
                    <div class="overlay">
                        <div class="caption">Массаж</div>
                    </div>
                </a>
            </div>
            <div class="image-container">
                <a href="#services">
                    <img src="{% static 'main/img/tinting.jpg' %}" alt="Service 1">
                    <div class="overlay">
                        <div class="caption">Брови</div>
                    </div>
                </a>
            </div>
            <div class="image-container">
                <a href="#services">
                    <img src="{% static 'main/img/care.jpg' %}" alt="Service 1">
                    <div class="overlay">
                        <div class="caption">Эпиляция</div>
                    </div>
                </a>
            </div>
            <div class="image-container">
                <a href="#services">
                    <img src="{% static 'main/img/reservation.jpg' %}" alt="Service 1">
                    <div class="overlay">
                        <div class="caption">Бронь</div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section id="about">
        <p>Погрузитесь в мир красоты и релаксации в нашем изысканном салоне. Наша команда квалифицированных
            специалистов стремится подчеркнуть вашу естественную красоту и оживить ваш дух.</p>
        <p>Ощутите широкий спектр роскошных услуг и откройте для себя идеальное сочетание спокойствия и преображения.
            Добро пожаловать в наше святилище красоты и благополучия.</p>
    </section>

    <footer>
        <nav>
            <ul>
                <li><a href="#home">Главная</a></li>
                <li><a href="#masters">Мастера</a></li>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#products">Продукция</a></li>
                <li><a href="#about">О нас</a></li>
                <li><a href="#cabinet">Личный кабинет</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>