{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>Континенталь</title>
</head>
<body>
<header data-aos="fade-up">
    <nav class="navbar navbar-expand-lg navbar-dark static-top space-top">
        <div class="container">
            <a class="navbar-brand" href="{%url 'home_page' %}">
                <img src="{% static 'main/img/logo.png' %}" alt="logo" class="header-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{%url 'home_page' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'masters_list' %}">Мастера</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{%url 'services_list' %}">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'products_list' %}">Продукция</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'about' %}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'login' %}">Личный кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'cart' %}">Корзина</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="main-header">Континенталь</h1>
            </div>
        </div>
    </div>
</header>

<section class="pros d-flex align-items-center" data-aos="fade-up">
    <div class="container">
        <div class="row mb-5">
            <div class="text-center col-md-4 col-sm-12">
                <img src="{% static 'main/img/haircut.jpg' %}" alt="pros" class="pros-img mb-4">
                <h2>Изысканная красота</h2>
                <p>Храм красоты и благополучия ждет вас в салоне «Континенталь». Погрузитесь в мир ухода и омоложения.
                    Храм красоты и благополучия ждет вас в салоне «Континенталь». Погрузитесь в мир ухода и омоложения.</p>
            </div>
            <div class="text-center col-md-4 col-sm-12">
                <img src="{% static 'main/img/massage.jpg' %}" alt="pros" class="pros-img mb-4">
                <h2>Ваш личный оазис</h2>
                <p>Салон Континенталь - это ваш личный оазис стиля и элегантности.
                    Наши квалифицированные специалисты стремятся подчеркнуть вашу естественную красоту.</p>
            </div>
            <div class="text-center col-md-4 col-sm-12">
                <img src="{% static 'main/img/manicure.jpg' %}" alt="pros" class="pros-img mb-4">
                <h2>Непревзойденный опыт</h2>
                <p>В салоне Континенталь мы гордимся тем, что обеспечиваем красоту с непревзойденным мастерством.
                    Доверьтесь нашей опытной команде, чтобы повысить уровень обслуживания в салоне.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="{% url 'services_list' %}" class="btn btn-lg text-uppercase link-btn mt-4">Все услуги</a>
            </div>
        </div>
    </div>
</section>


<div class="first_section d-flex justify-content-center align-items-center" data-aos="fade-up">
    <h1 class="text-center">Роскошный опыт в области красоты</h1>
</div>


<section class="white-section d-flex align-items-center" data-aos="fade-up">
    <div class="container text-center">
        <h2>Наши мастера</h2>
        <p>В салоне "Континенталь" работают только самые опытные и квалифицированные специалисты, которые постоянно повышают свою квалификацию. Они всегда готовы помочь вам обрести уверенность в себе и подчеркнуть вашу естественную красоту.</p>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <img src="{% static 'main/img/male2.jpeg' %}" alt="Master 1" class="master-img mb-4">
                <h3>Иван Михайлов</h3>
                <p>Массажист с опытом работы более 10 лет.</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="{% static 'main/img/darina.jpeg' %}" alt="Master 2" class="master-img mb-4">
                <h3>Дарина Кузнецова</h3>
                <p>Стилист и парикмахер с индивидуальным подходом к каждому клиенту.</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="{% static 'main/img/master7.jpeg' %}" alt="Master 3" class="master-img mb-4">
                <h3>Ольга Смирнова</h3>
                <p>Косметолог с многолетним опытом работы и отличными отзывами клиентов.</p>
            </div>
        </div>
        <a href="{% url 'masters_list' %}" class="btn btn-lg text-uppercase link-btn mt-4">Наши мастера</a>
    </div>
</section>

<div class="second_section d-flex justify-content-center align-items-center" data-aos="fade-up">
    <h1 class="text-center">Откройте для себя красоту в каждой детали</h1>
</div>

<section class="white-section d-flex align-items-center" data-aos="fade-up">
    <div class="container text-center">
        <h2>Наша продукция</h2>
        <p>В нашем салоне вы найдете широкий ассортимент высококачественной косметики и средств по уходу за кожей, которые помогут вам сохранить и подчеркнуть вашу естественную красоту. Мы предлагаем продукцию только проверенных брендов, известных своим качеством и эффективностью.</p>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <img src="{% static 'main/img/hairs.jpeg' %}" alt="Product 1" class="product-img mb-4">
                <h3>Уход за волосами</h3>
                <p>Шампуни, кондиционеры и маски для волос от ведущих брендов.</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="{% static 'main/img/cream.jpeg' %}" alt="Product 2" class="product-img mb-4">
                <h3>Уход за кожей</h3>
                <p>Кремы, лосьоны и сыворотки для всех типов кожи.</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="{% static 'main/img/makeup.jpeg' %}" alt="Product 3" class="product-img mb-4">
                <h3>Макияж</h3>
                <p>Широкий ассортимент декоративной косметики для вашего идеального образа.</p>
            </div>
        </div>
        <a href="{% url 'products_list' %}" class="btn btn-lg text-uppercase link-btn mt-4">Вся продукция</a>
    </div>
</section>


<div class="third_section d-flex justify-content-center align-items-center" data-aos="fade-up">
    <h1 class="text-center">Непревзойденный опыт</h1>
</div>

<section class="white-section d-flex align-items-center" data-aos="fade-up">
    <div class="container text-center">
    <h2>О нашем салоне</h2>
    <p>Салон "Континенталь" — это оазис красоты и уюта в самом сердце города. Мы предлагаем широкий спектр услуг по уходу за волосами, кожей и телом. Наши профессиональные мастера всегда рады помочь вам обрести уверенность в себе и подчеркнуть вашу естественную красоту.</p>
    <div class="row">
        <div class="col-12 text-center">
            <h3>Как добраться</h3>
            <div class="mx-auto" style="width: 614px; height: 611px;">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3400fbd30cc68c3fab27c271fa702bad74dd4720749a3edc9b01fcb58b62ae53&amp;width=614&amp;height=611&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
        </div>
    </div>
    <a href="{% url 'about' %}" class="btn btn-lg text-uppercase link-btn mt-4">Контактная информация</a>
</div>
</section>


<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-md-left mb-3 mb-md-0">
                <h5>Континенталь</h5>
                <p>Салон красоты премиум класса.</p>
                <p>Нижний Новгород, ул. Комарова, 13</p>
                <p>+7 495 587 52 33</p>
            </div>
            <div class="col-md-4 text-center mb-3 mb-md-0">
                <h5>Навигация</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home_page' %}" class="text-white">Главная</a></li>
                    <li><a href="{% url 'services_list' %}" class="text-white">Услуги</a></li>
                    <li><a href="{% url 'about' %}" class="text-white">О нас</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center text-md-right">
                <h5>Следите за нами</h5>
                <a href="#" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; 2024 Континенталь. Все права защищены.</p>
            </div>
        </div>
    </div>
</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        AOS.init({
            duration: 1000, // длительность анимации в миллисекундах
            easing: 'ease-out', // функция ускорения анимации
            once: true // запуск анимации только один раз
        });
    </script>
</body>
</html>
