{% extends 'main/main_layout.html' %}

{% load static %}

{% block title %}
    История заказов
{% endblock %}

{% block content %}
    <section>
        <div class="container space-top">
            <div class="row">
                <h1 class="text-white text-center">История ваших заказов</h1>
            </div>
        </div>
    </section>

<section class="intro space-top">
  <div class="gradient-custom-2 h-100">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-responsive table-dark table-bordered table-hover text-center align-middle">
                <thead class="align-middle">
                  <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Код выдачи</th>
                    <th scope="col">Товары</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Действие</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order_info in orders_info %}
                  <tr>
                    <td>{{ order_info.order.order_date }}</td>
                    <td>{{ order_info.order.get_status_display }}</td>
                    <td>{{ order_info.order.issue_code }}</td>
                    <td>
                      <table class="table table-sm table-dark table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">Товар</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Цена</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in order_info.items %}
                          <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </td>
                    <td>{{ order_info.order.total_sum }}</td>
                    <td>
                      {% if order_info.order.status == 'ready' %}
                      <button class="btn btn-danger" onclick="cancelOrder('{{ order_info.order.pk }}')">Отменить заказ</button>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_link %}
    <script src="{% static 'main/js/order_history.js' %}"></script>
{% endblock %}
