{% extends 'main/main_layout.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-white text-center mt-5 space-top">Добро пожаловать, {{ user.first_name }}!</h1>

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">
            {{ message|escape }}
          </div>
        {% elif message.tags == 'success' %}
          <div class="alert alert-success" role="alert">
            {{ message|escape }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <div class="row mb-5">
        <div class="col-lg-3 mb-5">
            <div class="list-group">
                <a href="{% url 'booking' %}" class="list-group-item text-white bg-dark">Забронировать мастера</a>
                <a href="{% url 'visits_history' %}" class="list-group-item text-white bg-dark">История посещений</a>
                <a href="{% url 'order_history' %}" class="list-group-item text-white bg-dark">История заказов</a>
                <a href="{% url 'edit_profile' %}" class="list-group-item text-white bg-dark">Сменить данные</a>
                <a href="{% url 'change_password' %}" class="list-group-item text-white bg-dark">Сменить пароль</a>
                <a href="{% url 'logout' %}" class="list-group-item text-white bg-dark">Выйти</a>
            </div>
        </div>

        <div class="col-lg-9">
                <div class="text-center">
                    <h3 class="text-white font-weight-bold">Ваши текущие заявки</h3>
                </div>
                <div>
                    {% if user_bookings %}
                        <table class="table table-responsive table-dark table-hover text-center align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Время</th>
                                    <th scope="col">Мастер</th>
                                    <th scope="col">Услуги</th>
                                    <th scope="col">Стоимость</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in user_bookings %}
                                    <tr>
                                        <td>{{ book.booking.start_datetime }}</td>
                                        <td>{{ book.booking.master }}</td>
                                        <td>
                                            <table class="table table-sm table-dark table-borderless">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Услуга</th>
                                                    <th scope="col">Длительность</th>
                                                    <th scope="col">Цена</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  {% for service in book.services %}
                                                      <tr>
                                                        <td>{{ service.service.title }}</td>
                                                        <td>{{ service.service.duration }}</td>
                                                        <td>{{ service.service.cost }}</td>
                                                      </tr>
                                                      {% endfor %}
                                                </tbody>
                                              </table>
                                        </td>
                                        <td>{{ book.booking.total_sum }}</td>
                                        <td>
                                            <form action="{% url 'cancel_booking' book.booking.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger btn-sm">Отменить</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="text-white text-center">У вас нет будущих бронирований.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}