{% extends 'main/main_layout.html' %}

{% block title %}
    История визитов
{% endblock %}

{% block content %}
<div class="container mt-5 space-top">
    <h1 class="text-white mb-4 text-center">История визитов</h1>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Дата</th>
                        <th scope="col">Мастер</th>
                        <th scope="col">Услуги</th>
                        <th scope="col">Стоимость</th>
                        <th scope="col">Комментарий</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visit_info in visits_info %}
                    <tr>
                        <td>{{ visit_info.appointment.start_datetime|date:"d/m/Y" }}</td>
                        <td>{{ visit_info.appointment.master }}</td>
                        <td>
                            {% for service in visit_info.services %}
                                <li>{{ service.service.title }}</li>
                            {% endfor %}
                        </td>
                        <td>{{ visit_info.appointment.total_sum }}</td>
                        <td>{{ visit_info.appointment.comment }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
